.playerText {
    padding-left: 0px;
    padding-right: 0px;
    width: 140px;
    height: 38px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 4px 1px #1C6A0E;
}

.playerName {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 20px;
    background: "white";
    border-radius: 10px 10px 0px 0px;
    background: #262626;
    font-weight: 600;
}

.playerScore {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 18px;
    background: "white";
    border-radius: 0px 0px 10px 10px;
    background: #E4F2EE;
    font-weight: 600;
}