.root {
    position: relative;
} 

.field {
    position: absolute;
    top: 0;
    left: 0;
}

.team {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.keepGrid {
    padding-top: 18px;
}

.defGrid {
    padding-top: 13px;
    padding-left: 180px;
    padding-right: 180px;
}

.midGrid {
    padding-top: 13px;
    padding-left: 85px;
    padding-right: 85px;
}

.attGrid {
    padding-top: 13px;
    padding-left: 160px;
    padding-right: 160px;
}

.player {
    align-content: center;
}

.player svg {
    display: block;
    margin: auto;
}


