name: Build and Deploy
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Archive Production Artifact
        uses: actions/upload-artifact@master
        with:
          name: fpl-wizard
          path: dist
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: build
          path: build
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting:fpl-wizard
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_FPL_WIZARD }}


# This file was auto-generated by the Firebase CLI
# https://github.com/firebase/firebase-tools

# name: Deploy to Firebase Hosting on merge
# 'on':
#   push:
#     branches:
#       - master
# jobs:
#   build_and_deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - run: npm run build
#       - uses: FirebaseExtended/action-hosting-deploy@v0
#         with:
#           repoToken: '${{ secrets.GITHUB_TOKEN }}'
#           firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FPL_WIZARD }}'
#           channelId: live
#           projectId: fpl-wizard
#         env:
#           FIREBASE_CLI_PREVIEWS: hostingchannels

  
# This file was auto-generated by the Firebase CLI
# https://github.com/firebase/firebase-tools

# name: Deploy to Firebase Hosting on PR
# 'on': pull_request
# jobs:
#   build_and_preview:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - run: npm run build
#       - uses: FirebaseExtended/action-hosting-deploy@v0
#         with:
#           repoToken: '${{ secrets.GITHUB_TOKEN }}'
#           firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FPL_WIZARD }}'
#           projectId: fpl-wizard
#         env:
#           FIREBASE_CLI_PREVIEWS: hostingchannels